.responsible {
    &__top {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 20px;
    }

    &__filter {
        display: none;
        background: #fff;
        border-radius: 5px;
        padding: 10px 5px;
        margin: 0 auto 20px auto;
        width: 80%;

        .responsible__button { 
            margin: 20px 0 0 0;
            width: 200px;
        }

        &_active {
            display: block;
        }
    }

    &__block {
        display: flex;
        justify-content: flex-end;
    }

    &__subdivisions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        font-size: 16px;
    }

    &__text {
        display: inline-block;
        cursor: pointer;

        &:hover {
            color: #0059bc;
            text-decoration: underline;
        }
    }
}

.table-responsibles {
   display: grid;
   grid-template-columns: repeat(3, 1fr) 2fr;

   input {
       cursor: pointer !important;
   }
}

.responsible-table-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
}